<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="/css/contact.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
      <title>Contact Me!</title>
    </head>
    <body>
    
        
        <div class="container">
          <a class="go-back" href="/">Go back home</a>
          <h1>Contact Me!</h1>
          
          <form action="https://formsubmit.co/9fc001430bdf2f4f3d5e50eae4fb6950" method="post">
            <div>
              <label for="name"><h2>Name</h2></label>
              <p>Type Your Full Name Here.</p>
              <input autofocus required id="name"  placeholder="Example: Gerrit Cole" type="text" name="name">
            </div>
  
            <div>
              <label for="email"><h2>email</h2></label>
              <p>Type Your Email Address Here.</p>
              <input required id="email" placeholder="Example: someone@gmail.com" type="email" name="email" >
            </div>
  
            <div>
              <label for="message"><h2>Message</h2></label>
              <p>include any specific message, or any comment you want to share.</p>
              <textarea required id="message" name="message"></textarea>
            </div>
  
            <div>
              <button class="button "> <span>Send Email</span> </button>
            </div>
          </form>
  
        
  
        </div>
      
    </body>
  </html>