<!DOCTYPE html/>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title>Jean</title>
  </head>
  <body>
    <main id="home" >
      <div class="profile">
        <img src="images/jean.png" alt="Jean's profile image">
        <h1>Jean Carlos Mieses</h1>
        <p>Web Developer, </p>
      </div>

      <div class="content">
        <ul>
          <li> <a href="#about">about me</a> </li>
          <li> <a href="#">skills</a> </li>
          <li> <a href="/projects">projects</a> </li>
          <li> <a href="/resume">Resume</a> </li>
          <li> <a href="/contact">contact</a> </li>
        </ul>
        <ul>
          <li> <a target="_blank" href="https://twitter.com/JeanTheDev"><i class="fab fa-twitter"></i></a> </li>
          <li> <a target="_blank" href="https://www.linkedin.com/in/jean-carlos-mieses-03784321b/"> <i class="fab fa-linkedin"></i> </a> </li>
          <li> <a target="_blank" href="https://github.com/JeanMieses?tab=repositories"> <i class="fab fa-github-square"></i> </a> </li>
        </ul>

      </div>
    </main>


    <script src="https://kit.fontawesome.com/ce50880fbe.js" crossorigin="anonymous"></script>
  </body>
</html>
