<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="le=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/project.css">
  <title>Projects!</title>
</head>

<body>
  <header>
    <%- include('navbar/navbar'); %>
  </header>



  <main class="main-container">
    <section>
      <div>
        <p>Product feedback app</p>
        <iframe scrolling="no" title='feedback board' src="https://productfeedbacks.herokuapp.com/feedbacks/"></iframe>
        <a target="_blank" href="https://productfeedbacks.herokuapp.com/feedbacks">View Project</a> <a target="_blank" href="https://github.com/JeanMieses/Product-feeback">GitHub</a>
      </div>

      <div>
        <p>Planets fact site</p>
        <iframe scrolling="no" title=' planet facts website' src="https://planet-fact-site.herokuapp.com/earth"></iframe>
        <a target="_blank" href="https://planet-fact-site.herokuapp.com/earth">View Project</a> <a target="_blank" href="https://github.com/JeanMieses/Planets-Fact-Site">GitHub</a>
      </div>

      <div>
        <p>E-commerce product page</p>
        <iframe scrolling="no" title='ecommerce page' src="https://wizardly-wiles-e01722.netlify.app/"></iframe>
        <a target="_blank" href="https://wizardly-wiles-e01722.netlify.app/">View Project</a> <a target="_blank" href="https://github.com/JeanMieses/E-commerce-product-page">GitHub</a>
      </div>
    </section>

    <section>
      <div>
        <p>Space tourism multi-page website</p>
        <iframe scrolling="no" title='Space tourism multi-page' src="https://spacetourismj.netlify.app/"></iframe>
        <a target="_blank" href="https://spacetourismj.netlify.app/">View Project</a> <a target="_blank" href="https://github.com/JeanMieses/Space-Tourism-React">GitHub</a>
      </div>

      <div>
        <p>Crowdfunding product page</p>
        <iframe scrolling="no" title='crowfunding project' src="https://jeanmieses.github.io/crowfunding-product/"></iframe>
        <a target="_blank" href="https://jeanmieses.github.io/crowfunding-product/">View Project</a> <a target="_blank" href="https://github.com/JeanMieses/crowfunding-product">GitHub</a>
      </div>

      <div>
        <p>GitHub user search app</p>
        <iframe scrolling="no" title='find developer project' src="https://jeanmieses.github.io/github-user-search-app-/"></iframe>
        <a target="_blank" href="https://jeanmieses.github.io/github-user-search-app-/">View Project</a> <a target="_blank" href="https://github.com/JeanMieses/github-user-search-app-">GitHub</a>
      </div>
    </section>
  </main>
</body>
</html>
