body {
    padding: 0;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    font-family: 'Roboto', sans-serif;
  }

  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    /* overflow-y: auto; */
  }

  h1 {
    padding-top: 1em;
    color: #3A4374;
    margin-bottom: 0.6em;
    text-align: center;
    font-size: 21px;
    text-transform: capitalize;
  }

  h2 {
    font-weight: bold;
    text-transform: capitalize;
    color: #3A4374;
    margin-bottom: 0;
    margin: 0.3em 0;
    font-size: 17px;
  }

  p {
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0.8em;
    color: #647196;
  }

  .wrapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 90%;
    border-radius: 10px;
    padding-bottom: 30px;
  }


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  form div {
    width: 86%;
    margin: 0.6em 0;
  }

  form input, form select, form textarea {
    background-color: #F2F4FF;
    border: none;
    height: 33px;
    width: 90%;
    color: #3A4374;
  }

  form textarea {
    height: 70px;
  }

  form button {
      background-color: #AD1FEA;
      color: #fff;
      width: 68%;
      border: none;
      border-radius: 15px;
      height: 30px;
      margin-top: 0.7em;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  @media (min-width: 768px) {
    h1 {
        font-size: 34px;;
    }
    .wrapper  .container {
        /* height: 870px; */
        width: 600px;
        padding-bottom: 30px;
      }

      h2 {
        margin-bottom: 0;
        margin: 0.3em 0;
        font-size: 25px;
      }

      p {
        text-transform: capitalize;
        font-size: 21px;
        margin-bottom: 1em;
        width: 65%;
      }

      .go-back {
        font-size: 20px;
      }

      form div {
        width: 86%;
        margin: 1em 0;
      }

      form input, form select, form textarea {
        border: none;
        height: 46px;
        width: 80%;
        color: #3A4374;
        font-size: 20px;
      }

      form textarea {
        height: 120px;
      }

      form button {
          background-color: #AD1FEA;
          font-weight: bold;
          font-size: 16px;
          color: #fff;
          width: 28%;
          border: none;
          border-radius: 15px;
          height: 40px;
          margin-top: 1em;

      }

  }

  @media (min-width: 1166px) {
    .wrapper .container {
        width: 800px;
      }
  }
