body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 2em auto;
  width: 86%;
  text-transform: uppercase;
  padding: 0;
  color: white;
  align-self: flex-start;
}

.main-container, .main-container section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 100%;
}

.main-container section div {
  width: 100%;
  margin: 1em 0;
  max-height: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
}

.main-container section div iframe {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  margin: 2em 0 1em 0;
}

.main-container section div p {
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-transform: capitalize;
  margin: 0;
}

.main-container section div a {
  text-decoration: none;
  color: #c2c3c4;
  margin: 0 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    width: 680px;
  }

  .main-container section div iframe {
    height: 510px;
  }

  .main-container section div {
    margin: 2em 0;
  }

  .main-container section div p {
    font-size: 21px;
  }
}

@media (min-width: 1025px) {
  .main-container section {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .main-container section div {
    width: 27%;
    border: none;
  }

  .main-container section div iframe {
    height: 450px;
  }

  .main-container section div p {
    font-size: 25px;
  }
}
